/* FONTS */
/* public-sans-regular - latin */
@font-face {
  font-family: "Public Sans";
  font-style: normal;
  font-weight: 400;
  src: local(""), url("/fonts/public-sans-v14-latin-regular.woff2") format("woff2"), url("/fonts/public-sans-v14-latin-regular.woff") format("woff");
}
/* public-sans-700 - latin */
@font-face {
  font-family: "Public Sans";
  font-style: normal;
  font-weight: 700;
  src: local(""), url("/fonts/public-sans-v14-latin-700.woff2") format("woff2"), url("/fonts/public-sans-v14-latin-700.woff") format("woff");
}
/* dm-serif-display-regular - latin */
@font-face {
  font-family: "DM Serif Display";
  font-style: normal;
  font-weight: 400;
  src: local(""), url("/fonts/dm-serif-display-v10-latin-regular.woff2") format("woff2"), url("/fonts/dm-serif-display-v10-latin-regular.woff") format("woff");
}
html {
  line-height: 1.15; /* 1 */
  -webkit-text-size-adjust: 100%; /* 2 */
}

/* Sections
   ========================================================================== */
/**
 * Remove the margin in all browsers.
 */
body {
  margin: 0;
}

/**
 * Render the `main` element consistently in IE.
 */
main {
  display: block;
}

/**
 * Correct the font size and margin on `h1` elements within `section` and
 * `article` contexts in Chrome, Firefox, and Safari.
 */
h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

/* Grouping content
   ========================================================================== */
/**
 * 1. Add the correct box sizing in Firefox.
 * 2. Show the overflow in Edge and IE.
 */
hr {
  box-sizing: content-box; /* 1 */
  height: 0; /* 1 */
  overflow: visible; /* 2 */
}

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */
pre {
  font-family: monospace, monospace; /* 1 */
  font-size: 1em; /* 2 */
}

/* Text-level semantics
   ========================================================================== */
/**
 * Remove the gray background on active links in IE 10.
 */
a {
  background-color: transparent;
}

/**
 * 1. Remove the bottom border in Chrome 57-
 * 2. Add the correct text decoration in Chrome, Edge, IE, Opera, and Safari.
 */
abbr[title] {
  border-bottom: none; /* 1 */
  text-decoration: underline; /* 2 */
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted; /* 2 */
}

/**
 * Add the correct font weight in Chrome, Edge, and Safari.
 */
b,
strong {
  font-weight: bolder;
}

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */
code,
kbd,
samp {
  font-family: monospace, monospace; /* 1 */
  font-size: 1em; /* 2 */
}

/**
 * Add the correct font size in all browsers.
 */
small {
  font-size: 80%;
}

/**
 * Prevent `sub` and `sup` elements from affecting the line height in
 * all browsers.
 */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

/* Embedded content
   ========================================================================== */
/**
 * Remove the border on images inside links in IE 10.
 */
img {
  border-style: none;
}

/* Forms
   ========================================================================== */
/**
 * 1. Change the font styles in all browsers.
 * 2. Remove the margin in Firefox and Safari.
 */
button,
input,
optgroup,
select,
textarea {
  font-family: inherit; /* 1 */
  font-size: 100%; /* 1 */
  line-height: 1.15; /* 1 */
  margin: 0; /* 2 */
}

/**
 * Show the overflow in IE.
 * 1. Show the overflow in Edge.
 */
button,
input {
  /* 1 */
  overflow: visible;
}

/**
 * Remove the inheritance of text transform in Edge, Firefox, and IE.
 * 1. Remove the inheritance of text transform in Firefox.
 */
button,
select {
  /* 1 */
  text-transform: none;
}

/**
 * Correct the inability to style clickable types in iOS and Safari.
 */
button,
[type=button],
[type=reset],
[type=submit] {
  -webkit-appearance: button;
}

/**
 * Remove the inner border and padding in Firefox.
 */
button::-moz-focus-inner,
[type=button]::-moz-focus-inner,
[type=reset]::-moz-focus-inner,
[type=submit]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

/**
 * Restore the focus styles unset by the previous rule.
 */
button:-moz-focusring,
[type=button]:-moz-focusring,
[type=reset]:-moz-focusring,
[type=submit]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

/**
 * Correct the padding in Firefox.
 */
fieldset {
  padding: 0.35em 0.75em 0.625em;
}

/**
 * 1. Correct the text wrapping in Edge and IE.
 * 2. Correct the color inheritance from `fieldset` elements in IE.
 * 3. Remove the padding so developers are not caught out when they zero out
 *    `fieldset` elements in all browsers.
 */
legend {
  box-sizing: border-box; /* 1 */
  color: inherit; /* 2 */
  display: table; /* 1 */
  max-width: 100%; /* 1 */
  padding: 0; /* 3 */
  white-space: normal; /* 1 */
}

/**
 * Add the correct vertical alignment in Chrome, Firefox, and Opera.
 */
progress {
  vertical-align: baseline;
}

/**
 * Remove the default vertical scrollbar in IE 10+.
 */
textarea {
  overflow: auto;
}

/**
 * 1. Add the correct box sizing in IE 10.
 * 2. Remove the padding in IE 10.
 */
[type=checkbox],
[type=radio] {
  box-sizing: border-box; /* 1 */
  padding: 0; /* 2 */
}

/**
 * Correct the cursor style of increment and decrement buttons in Chrome.
 */
[type=number]::-webkit-inner-spin-button,
[type=number]::-webkit-outer-spin-button {
  height: auto;
}

/**
 * 1. Correct the odd appearance in Chrome and Safari.
 * 2. Correct the outline style in Safari.
 */
[type=search] {
  -webkit-appearance: textfield; /* 1 */
  outline-offset: -2px; /* 2 */
}

/**
 * Remove the inner padding in Chrome and Safari on macOS.
 */
[type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

/**
 * 1. Correct the inability to style clickable types in iOS and Safari.
 * 2. Change font properties to `inherit` in Safari.
 */
::-webkit-file-upload-button {
  -webkit-appearance: button; /* 1 */
  font: inherit; /* 2 */
}

/* Interactive
   ========================================================================== */
/*
 * Add the correct display in Edge, IE 10+, and Firefox.
 */
details {
  display: block;
}

/*
 * Add the correct display in all browsers.
 */
summary {
  display: list-item;
}

/* Misc
   ========================================================================== */
/**
 * Add the correct display in IE 10+.
 */
template {
  display: none;
}

/**
 * Add the correct display in IE 10.
 */
[hidden] {
  display: none;
}

/* GENERAL */
* {
  box-sizing: border-box;
}

*::before,
*::after {
  box-sizing: inherit;
}

html {
  height: 100%;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

img {
  display: block;
  height: auto;
}

body {
  display: flex;
  flex-direction: column;
  height: 100%;
  margin: 0;
  padding: 0;
  font-family: "Public Sans", "Arial", sans-serif;
  font-size: 16px;
  /* font-weight: 400; */
  /* line-height: var(--main-line-height); */
}

/* STICKY-FOOTER */
.site-main {
  flex-grow: 1;
}

/* VISUALLY-HIDDEN */
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

/* CONTAINER */
.container {
  max-width: 1150px;
  margin-right: auto;
  margin-left: auto;
  padding-right: 20px;
  padding-left: 20px;
}

.about_finance_inner {
  padding: 0 140px;
}
.about_finance_inner_wrapper_title {
  width: 100%;
  max-width: 620px;
}
.about_finance_inner_title {
  font-family: "DM Serif Display", serif;
  font-style: normal;
  font-weight: 400;
  font-size: 56px;
  line-height: 56px;
  letter-spacing: -0.430769px;
  color: #36536b;
}

.text_boxes {
  display: flex;
  flex-direction: column;
}
.text_boxes_wrapper_title {
  width: 100%;
  max-width: 255px;
}
.text_boxes_wrapper_desc {
  width: 100%;
  max-width: 635px;
}
.text_boxes_first {
  width: 100%;
  max-width: 920px;
  margin-bottom: 56px;
  display: flex;
  align-items: center;
}
.text_boxes_second {
  width: 100%;
  max-width: 920px;
  display: flex;
}
.text_boxes_title {
  margin-right: 30px;
  font-family: "DM Serif Display";
  font-style: normal;
  font-weight: 400;
  font-size: 32px;
  line-height: 40px;
  letter-spacing: -0.246154px;
  color: #36536b;
}
.text_boxes_desc {
  font-family: "Public Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 28px;
  color: #6c8294;
}

@media only screen and (max-width: 1024px) {
  .about_finance {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .about_finance_inner {
    padding: 0 15px;
  }
  .about_finance_inner_wrapper_title {
    width: 100%;
    max-width: 573px;
    padding: 32px;
  }
  .about_finance_inner_title {
    font-size: 48px;
    line-height: 56px;
    text-align: center;
  }
  .text_boxes_wrapper_title {
    width: 100%;
    max-width: 223px;
  }
  .text_boxes_wrapper_desc {
    width: 100%;
    max-width: 456px;
  }
  .text_boxes_first {
    width: 100%;
    max-width: 689px;
    margin-bottom: 64px;
    display: flex;
    justify-content: center;
    align-items: flex-start;
  }
  .text_boxes_second {
    width: 100%;
    max-width: 689px;
    display: flex;
  }
  .text_boxes_title {
    margin-right: 10px;
  }
  .text_boxes_desc {
    margin-top: 38px;
  }
}
@media only screen and (max-width: 720px) {
  .about_finance_inner {
    padding: 0 10px;
  }
  .about_finance_inner_wrapper_title {
    width: 100%;
    max-width: 327px;
  }
  .about_finance_inner_title {
    font-size: 32px;
    line-height: 36px;
    letter-spacing: -0.246154px;
  }
  .text_boxes {
    display: flex;
  }
  .text_boxes_wrapper_desc {
    width: 100%;
    max-width: 327px;
  }
  .text_boxes_first {
    width: 100%;
    max-width: 327px;
    margin-bottom: 56px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .text_boxes_second {
    width: 100%;
    max-width: 327px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .text_boxes_title {
    margin-right: 0px;
    font-size: 24px;
    line-height: 32px;
    text-align: center;
  }
  .text_boxes_desc {
    text-align: center;
  }
}
.members {
  padding: 72px 0 72px 0;
  z-index: 10;
  background-image: url("/images/desk_bg_circle.svg");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: calc(50% - 710px);
}
.members_img {
  width: 100%;
  max-width: 1440px;
}
.members_img_tablet {
  display: none;
}
.members_img_mobile {
  display: none;
}

@media only screen and (max-width: 1024px) {
  .members {
    padding: 92px 0 64px 0;
    background-image: none;
  }
  .members_img {
    display: none;
  }
  .members_img_tablet {
    width: 100%;
    max-width: 1440px;
    display: block;
  }
}
@media only screen and (max-width: 720px) {
  .members {
    padding: 76px 0 48px 0;
  }
  .members_img_tablet {
    display: none;
  }
  .members_img_mobile {
    width: 100%;
    max-width: 1440px;
    display: block;
  }
}
.info {
  padding-top: 0px;
}
.info_element {
  display: flex;
}
.info_card {
  width: 350px;
  border-top: 2px solid rgb(236, 238, 240);
  border-bottom: 2px solid rgb(236, 238, 240);
}
.info_card + .info_card {
  margin-left: 30px;
}
.info_title {
  font-family: "Public Sans", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 28px;
  color: #36536b;
  mix-blend-mode: normal;
  opacity: 0.7;
}
.info_number {
  font-family: "DM Serif Display", serif;
  font-style: normal;
  font-weight: 400;
  font-size: 56px;
  line-height: 72px;
  letter-spacing: -0.430769px;
  color: #ba4270;
}

.info_text_boxes {
  display: flex;
  flex-direction: column;
  margin-top: 72px;
}
.info_text_boxes_wrapper_title {
  width: 100%;
  max-width: 255px;
}
.info_text_boxes_wrapper_desc {
  width: 100%;
  max-width: 635px;
}
.info_text_boxes_first {
  width: 100%;
  max-width: 920px;
  margin-bottom: 56px;
  display: flex;
  align-items: center;
}
.info_text_boxes_second {
  width: 100%;
  max-width: 920px;
  display: flex;
}
.info_text_boxes_title {
  margin-right: 30px;
  font-family: "DM Serif Display";
  font-style: normal;
  font-weight: 400;
  font-size: 32px;
  line-height: 40px;
  letter-spacing: -0.246154px;
  color: #36536b;
}
.info_text_boxes_desc {
  font-family: "Public Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 28px;
  color: #6c8294;
}

.info_email {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.info_email_title {
  font-family: "DM Serif Display", serif;
  font-style: normal;
  font-weight: 400;
  font-size: 48px;
  line-height: 56px;
  letter-spacing: -0.369231px;
  color: #36536b;
}
.info_email_form {
  position: relative;
}
.info_email_input {
  padding: 16px 276px 14px 27px;
  border: none;
  background: #fbfcfe;
  font-family: "Public Sans", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 15px;
  line-height: 18px;
  color: #36536b;
  mix-blend-mode: normal;
  opacity: 0.5;
  box-shadow: 10px 10px 25px -10px rgba(54, 83, 107, 0.25);
  border-radius: 24px;
}
.info_email_btn {
  position: absolute;
  top: 0;
  right: 1px;
  padding: 16px 24px 14px 26px;
  border: none;
  background: #ba4270;
  font-family: "Public Sans", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 15px;
  line-height: 18px;
  letter-spacing: -0.115385px;
  color: #fbfcfe;
  border-radius: 24px;
}

@media only screen and (max-width: 1024px) {
  .info {
    padding-bottom: 100px;
  }
  .info_element {
    display: flex;
  }
  .info_card {
    width: 223px;
    padding: 44px 0 16px 0;
    border-top: 2px solid rgb(236, 238, 240);
    border-bottom: 2px solid rgb(236, 238, 240);
  }
  .info_card + .info_card {
    margin-left: 10px;
  }
  .info_title {
    display: none;
  }
  .info_text_boxes {
    margin-top: 64px;
  }
  .info_text_boxes_wrapper_title {
    width: 100%;
    max-width: 223px;
  }
  .info_text_boxes_wrapper_desc {
    width: 100%;
    max-width: 456px;
  }
  .info_text_boxes_first {
    width: 100%;
    max-width: 689px;
    margin-bottom: 64px;
  }
  .info_text_boxes_second {
    width: 100%;
    max-width: 689px;
    display: flex;
  }
  .info_text_boxes_title {
    margin-right: 10px;
  }
  .info_email {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
}
@media only screen and (max-width: 720px) {
  .info {
    padding-bottom: 80px;
  }
  .info_element {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-top: 2px solid rgb(236, 238, 240);
    border-bottom: 2px solid rgb(236, 238, 240);
  }
  .info_card {
    width: 327px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 0px 0 16px 0;
    border-top: none;
    border-bottom: none;
  }
  .info_card + .info_card {
    margin-left: 0px;
    margin-top: 32px;
  }
  .info_title {
    display: block;
  }
  .info_text_boxes {
    margin-top: 64px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .info_text_boxes_wrapper_desc {
    width: 100%;
    max-width: 327px;
  }
  .info_text_boxes_first {
    width: 100%;
    max-width: 327px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-bottom: 48px;
  }
  .info_text_boxes_second {
    width: 100%;
    max-width: 327px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .info_text_boxes_title {
    margin-right: 0px;
    text-align: center;
  }
  .info_text_boxes_desc {
    text-align: center;
  }
  .info_email_title {
    font-size: 32px;
    line-height: 36px;
    letter-spacing: -0.246154px;
  }
  .info_email_form {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  .info_email_input {
    width: 100%;
    max-width: 327px;
    margin-bottom: 16px;
    padding: 16px 158px 14px 27px;
  }
  .info_email_btn {
    width: 100%;
    max-width: 327px;
    position: static;
    padding: 16px 85px 14px 80px;
  }
}/*# sourceMappingURL=main.css.map */