body {
  background-image: none;
}
.site-body {
  background-image: url("/images/oposity-tumaloq.svg");
  background-repeat: no-repeat;
  background-size: 780px;
  background-position: calc(50% - 0px) calc(50% + -288px);
}
@media screen and (min-width: 720px) {
  .site-body {
    background-position: calc(50% - 0px) calc(50% + -230px);
  }
}
@media screen and (min-width: 1024px) {
  .site-body {
    background-position: calc(50% - -492px) calc(50% - -10px);
  }
}
